<app-header-inner></app-header-inner>
<div class="business-list">
  <div class="business-item">
    <a [routerLink]=""></a>
  </div>
  <div class="business-item">
    <a [routerLink]=""></a>
  </div>
  <div class="business-item">
    <a [routerLink]=""></a>
  </div>
  <div class="business-item">
    <a [routerLink]=""></a>
  </div>
  <div class="business-item">
    <a [routerLink]=""></a>
  </div>
  <div class="business-item">
    <a [routerLink]=""></a>
  </div>
  <div class="business-item">
    <a [routerLink]=""></a>
  </div>
</div>