<!-- <ng-container *ngIf="customLayout; else noCustomLayout">
  <router-outlet></router-outlet>
</ng-container>
<ng-template #noCustomLayout>
  <mk-layout-wrapper>
    <mk-layout-header [isSidebarLeftToggle]="true" [isSidebarRightToggle]="false">
      <mk-layout-header-logo>
        <img src="./assets/icons/logo.png">
      </mk-layout-header-logo>
      <app-header-inner></app-header-inner>
    </mk-layout-header>
    <mk-layout-sidebar-left>
      <app-sidebar-left-inner *ngIf="sidebarWidget"></app-sidebar-left-inner>
    </mk-layout-sidebar-left>
    <mk-layout-content>
      <div mk-layout-content-before-header>
        <div *mkLoadingPage="{checkPendingHttp: true, checkPendingRoute: true}">
          <mk-material-bar></mk-material-bar>
        </div>
      </div>
      <router-outlet></router-outlet>
    </mk-layout-content>
  </mk-layout-wrapper>
</ng-template> -->

<router-outlet></router-outlet>