
$color-green : #00b050;
$color-sky: #ccecff;
$color-red: #e53939;
$color-yellow : #f28422;
$color-cyan : #3fa7b6;
$color-purple : #b72ad8;
$color-blue : #0006ff;
$color-dark-blue: #337ab7;
$color-light-blue : #00a9e0;
$color-green-weak : #dafaec;
$color-yellow-weak : #faebd3;
$color-cyan-weak : #d0fefc;
$color-purple-weak : #fae7ff;
$color-blue-weak : #007bff;
$color-weak-font: #b6b5cd;
$color-main-bg: #f8f8fa;
$color-secondary-bg: #e9e9fa;
$color-font-color: #040054;
$color-luminos: #b2e84c;
$color-pink: pink;
$color-black: black;
$color-purple-secondary: #d06afe;
$color-border: #e0e0e0;
